@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary: #EDEDED;
  --light-secondary: #B2B8AC;
  --light-text: #232422;
  --dark-primary: #121212;
  --dark-secondary: #393C37;
  --dark-text: #D5DACF;
  --font-mono: var(--font-geist-mono);
  --font-gothic: "DotGothic16", "DotGothic16 Fallback"; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #121212;
    --secondary: #393C37;
    --text: #D5DACF;
  }
}

@theme {
  --color-light-primary: var(--light-primary);
  --color-light-secondary: var(--light-secondary);
  --color-light-text: var(--light-text);
  --color-dark-primary: var(--dark-primary);
  --color-dark-secondary: var(--dark-secondary);
  --color-dark-text: var(--dark-text);
  --font-mono: var(--font-geist-mono);
  --font-gothic: var(--font-gothic);

  --animate-block-fade: block-fade 3s infinite;
  @keyframes block-fade {
    0%,
    100% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
  }
}

body {
  background: linear-gradient(to bottom left, #121212c2 0%, #121212ef 15%, var(--dark-primary) 50%, #121212ef 85%, #121212c2 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-text);
  font-family: monospace, monospace;
  height: max-content;
}
