@tailwind utilities;
@import 'tailwindcss';
@import '../components/switcher.css';

:root {
  --light-primary: #ededed;
  --light-secondary: #b2b8ac;
  --light-text: #232422;
  --dark-primary: #121212;
  --dark-secondary: #393c37;
  --dark-text: #d5dacf;
  --font-mono: var(--font-geist-mono);
  --font-gothic: 'DotGothic16', 'DotGothic16 Fallback';
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #121212;
    --secondary: #393c37;
    --text: #d5dacf;
  }
}

@theme {
  --color-light-primary: var(--light-primary);
  --color-light-secondary: var(--light-secondary);
  --color-light-text: var(--light-text);
  --color-dark-primary: var(--dark-primary);
  --color-dark-secondary: var(--dark-secondary);
  --color-dark-text: var(--dark-text);
  --font-mono: var(--font-geist-mono);
  --font-gothic: var(--font-gothic);

  --animate-block-fade: block-fade 3s infinite;
  @keyframes block-fade {
    0%,
    100% {
      visibility: hidden;
      opacity: 0;
    }
    50% {
      visibility: visible;
      opacity: 1;
    }
  }

  --animate-wiggle: wiggle 2s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0);
    }
    45% {
      transform: rotate(3deg);
    }
    50%{
      transform: rotate(-3deg);
    }
    55% {
      transform: rotate(3deg);
    }
    44%,
    56% {
      transform: rotate(0);
    }
  }
}

html {
  background-color: var(--dark-secondary);
}

body {
  background: linear-gradient(
    to bottom left,
    #1212126e 0%,
    #121212ef 20%,
    var(--dark-primary) 50%,
    #121212ef 80%,
    #12121270 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-text);
  font-family: monospace, monospace;
  height: max-content;
}
