.MuiSwitch-root {
  .MuiSwitch-thumb {
    border-radius: 0;
    background: #ededed;
  }

  input:checked + .MuiSwitch-thumb {
    border-radius: 0;
    background: #393c37;
  }

  .MuiSwitch-track {
    border-radius: 0;
    background: #b2b8ac;
    opacity: 0.8;
  }
}
